@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==========
 Global Variables
========== */

:root {
  --dark-blue: rgb(7, 7, 54);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

section {
  height: calc(100vh + 100px);
}

/* ==========
 Navigation Section
========== */

#logo {
  color: white;
  display: flex;
  margin: 0 15px;
  padding: 0 15px;
}

header {
  background: linear-gradient(135deg, rgba(79, 11, 139, 0.2), rgba(20, 3, 25, 0.5));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  position: fixed;
  z-index: 500;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px 40px 0 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
}

header {
  display: grid;
  /* grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr; */
  grid-template-columns: 1fr 4fr;
}

#logo {
  grid-column: 1 / 2;
}

nav {
  all: unset;
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul {
  display: flex;
  margin: 0 15px;
  padding: 0 15px;
}

nav li {
  margin-left: 3em;
  margin-bottom: 0;
}

nav a {
  opacity: 1;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background: rgb(219, 178, 224);
  border-radius: 1;
  position: absolute;
  top: -0.75em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 240ms;
}

nav a:hover::before {
  transform: scale(1, 1);
}

/* ==========
 Home Section
========== */

#section--home{
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* ==========
 About Us Section
========== */

#section--about-us{
  background-color: red;
}

/* ==========
 How it Works Section
========== */

#section--how-it-works{
  background-color: orange;
}

/* ==========
 NFT-Collections Section
========== */

#section--nft-collections{
  background-color: yellow;
}

/* ==========
 Blog Section
========== */

#section--blog{
  background-color: green;
}

/* ==========
 Media Query Section
========== */

@media (max-width: 1150px) {
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 99.8%;
    background: linear-gradient(135deg, rgba(79, 11, 139, 0.2), rgba(20, 3, 25, 0.8));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(251, 121, 244, 0.1);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    z-index: -1;
    border-radius: 0 0 0 80px;
    grid-column: 1/3;
  }

  nav ul{
    display: flex;
    flex-direction: column;
  }

  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 250ms ease-in-out 250ms;
  }

  nav a:hover {
    color: #f7ddff;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  }

  .nav-toggle:checked ~ nav ul {
    margin-top: 30px;
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 30px;
    margin-left: 1em;
    height: 100%;
    display: grid;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3;
  }
}
