@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==========
 Global Variables
========== */

:root {
  --dark-blue: rgb(4, 4, 32);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

main {
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll;
  height: 100vh; */
}

section {
  height: calc(100vh + 100px);
  scroll-snap-align: start;
}

/* ==========
 Navigation Section
========== */

#logo {
  color: white;
  display: flex;
  margin: 0 15px;
  padding: 0 15px;
}

header {
  background: linear-gradient(
    135deg,
    rgba(79, 11, 139, 0.2),
    rgba(20, 3, 25, 0.5)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  position: fixed;
  z-index: 500;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px 40px 0 0;
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
}

header {
  display: grid;
  /* grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr; */
  grid-template-columns: 1fr 4fr;
}

#logo {
  grid-column: 1 / 2;
}

nav {
  all: unset;
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul {
  display: flex;
  margin: 0 15px;
  padding: 0 15px;
}

nav li {
  margin-left: 3em;
  margin-bottom: 0;
}

nav a {
  opacity: 1;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background: rgb(219, 178, 224);
  border-radius: 1;
  position: absolute;
  top: -0.75em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 240ms;
}

nav a:hover::before {
  transform: scale(1, 1);
}

/* ==========
 Home Section
========== */

#section--home {
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text-container-hero {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
  padding: 0 3rem;
  height: calc(100vh+100px);
}

.hero-title {
  font-size: 4rem;
  font-weight: 800;
  color: white;
  letter-spacing: 1.5px;
  padding: 10px 0;
}

.hero-subtext {
  padding: 10px 0;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  line-height: 2rem;
  font-weight: 300;
}

.hero-title span {
  color: rgb(255, 0, 166);
}

.hero-text button {
  margin-top: 20px;
  padding: 20px 60px;
  background: transparent;
  color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.hero-image {
  height: calc(100vh + 100px);
}

/* ==========
 About Us Section
========== */

#section--about-us {
  background-color: var(--dark-blue);
  height: calc(100vh + 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#story-container {
  margin: 0 3rem;
  padding: 0 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.story-text {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 0.5fr 0.5fr 1fr;
}

.story-title {
  font-size: 3rem;
  font-weight: 700;
  padding: 10px 0;
}

.story-text span {
  color: hsl(0 0% 100% / 0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-image: linear-gradient(90deg, white, white);
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
}

.story-text h2 span {
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
}

.story-text p span {
  font-size: 1.2rem;
  line-height: 30px;
  animation-range-start: cover 22.5vh;
  animation-range-end: cover 50vh;
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: var(--dark-blue);
  white-space: nowrap;
  position: relative;
}

.logos:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    var(--dark-blue)
  );
  content: "";
  z-index: 2;
}

.logos:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--dark-blue)
  );
  content: "";
  z-index: 2;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide svg {
  height: 50px;
  margin: 0 40px;
  color: white;
}

/* ==========
 Featured Section
========== */

#section--featured {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--dark-blue);
}

/* #section--featured:before{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), var(--dark-blue));
  content: "";
  z-index: 2;
}

#section--featured:after{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: -100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--dark-blue));
  content: "";
  z-index: 2;
} */

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#featured-container-text {
  margin: 0 3rem;
  padding: 0 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.featured-text {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(3, 0.5fr);
}

.featured-title {
  font-size: 4.5rem;
  font-weight: 700;
  padding: 10px 0;
  color: white;
  z-index: 3;
}

.featured-subtext {
  font-size: 1rem;
  color: white;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 300;
  z-index: 3;
}

.hottest {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, rgb(255, 196, 0), rgb(255, 119, 0));
}

.view-collections {
  margin-top: 20px;
  padding: 20px 60px;
  background: transparent;
  color: white;
  outline: none;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  width: 320px;
}

.view-collections:hover {
  border: 2px solid rgb(255, 153, 0);
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* ==========
 NFT-Collections Section
========== */

#section--nft-collections {
  background-color: rgb(119, 0, 255);
  overflow: scroll;
}

.nft-card-container{
  margin: 0 3rem;
  padding: 6rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px 15px;
}

.nft {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  border: 1px solid #fff 22;
  background-color: #282c34;
  background: linear-gradient(
    0deg,
    rgba(40, 44, 52, 1) 0%,
    rgba(17, 0, 32, 0.5) 100%
  );
  box-shadow: 0 7px 20px 5px #000 88;
  border-radius: 0.7rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
  transition: 0.5s all;
}

.nft .seller{
  color: rgb(154, 154, 154);
}

.nft .seller span{
  color: white;
}

.nft h2{
  color: white;
}

.nft hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}
.nft ins {
  text-decoration: none;
}

.nft .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}

.nft .main .tokenImage {
  border-radius: 0.5rem;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.nft .main .description {
  margin: 0.5rem 0;
  color: #a89ec9;
}

.nft .main .tokenInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nft .main .tokenInfo .price {
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
}

.nft .main .tokenInfo .price ins {
  margin-left: -0.3rem;
  margin-right: 0.5rem;
}

.nft .main .tokenInfo .duration {
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin-right: 0.2rem;
}

.nft .main .tokenInfo .duration ins {
  margin: 0.5rem;
  margin-bottom: 0.4rem;
}

.nft .main .creator {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin-bottom: -0.3rem;
}

.nft .main .creator ins {
  color: #a89ec9;
  text-decoration: none;
}

.nft .main .creator .wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #fff 22;
  padding: 0.3rem;
  margin: 0;
  margin-right: 0.5rem;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000 aa;
}

.nft .main .creator .wrapper img {
  border-radius: 100%;
  border: 1px solid #fff 22;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  margin: 0;
}

.nft::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px white;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: 0.7s all;
}

.nft:hover {
  border: 1px solid black;
  box-shadow: 0 7px 50px 10px;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.nft:hover ::before {
  filter: brightness(0.5);
  top: -100%;
  left: 200%;
}
.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg h1 {
  font-size: 20rem;
  filter: opacity(0.5);
}

/* ==========
 Market Section
========== */

#section--market {
  background-color: rgb(124, 170, 124);
  height: calc(100vh + 100px);
  overflow: scroll;
}

#category-container{
  margin: 0 3rem;
  padding: 6rem 3rem;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(4, 3fr);
}

.category-1,
.category-2,
.category-3,
.category-4{
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  margin-bottom: 20px;
}

.category-title{
  font-size: 2rem;
  font-weight: 700;
  color: white;
  display: grid;
  align-self: center;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(285px, 300px));
  grid-gap: 10px;
}

.card{
  width: px;
  height: 300px;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}

.card:hover{
  transform: translateY(-10px);
  transform: (1, 1);
  border: 0.2px solid grays;
}

.card-image img{
  border-radius: 20px 20px 0 0;
  width: 100%;
  max-height: 200px;
}

.card-text{
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.price-container{
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.title{
  padding: 5px 10px;
  display: grid;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.price-info,
.price-value{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.floor,
.volume{
  font-size: 0.825rem;
  color: gray;
}

.eth-value,
.volume-value{
  font-weight: 600;
  color: white;
  size: 1.2rem;
}

/* ==========
 Footer Section
========== */

footer {
	width: 100%;
	background: #00121b;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

footer ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

footer ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

footer ul a:hover {
	color: #ff9800;
}

footer ul li {
	margin: 10px 0;
	height: 25px;
}

footer li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* ==========
 Keyframes Section
========== */

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* ==========
 Media Query Section
========== */

@media (max-width: 1150px) {
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    width: 99.8%;
    background: linear-gradient(
      135deg,
      rgba(79, 11, 139, 0.2),
      rgba(20, 3, 25, 0.8)
    );
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(251, 121, 244, 0.1);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    z-index: -1;
    border-radius: 0 0 0 80px;
    grid-column: 1/3;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 250ms ease-in-out 250ms;
  }

  nav a:hover {
    color: #f7ddff;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
  }

  .nav-toggle:checked ~ nav ul {
    margin-top: 30px;
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 30px;
    margin-left: 1em;
    height: 100%;
    display: grid;
    align-items: center;
    grid-area: 1 / 2 / 2 / 3;
  }
}
